<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center text-white animated fadeInDown">
            RadArt <br/>
            <small>Discover local. Discover art.</small>
        </h1>
    </div>
</div>

<div class="row animated fadeInDown">
    <div class="col-md-4 col-md-offset-4">
        <img src="https://cdn2.iconfinder.com/data/icons/flat-style-svg-icons-part-1/512/maps_google_mobile_for_android-512.png" class="img-responsive">
    </div>
</div>

<div class="row animated fadeInDown" style="margin-top:25px;">
    <div class="col-md-12">
        <h4 class="text-white text-center">Artist? Creative? Sign Up or Login!</p>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <a class="btn btn-success btn-block text-center" href="#/signup">
            <i class="fa fa-bullhorn"></i> Sign Up
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-danger btn-block text-center" href="#/login">
            <i class="fa fa-user"></i> Login
        </a>
    </div>
</div>